* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Secular One', sans-serif;
    color: rgba(43, 42, 42, 0.934);
    background-image: url(people.jpg);
   
    background-size: 55%;
}


.logoo{
    display: flex;
    align-items: center;
    text-align: center;
    background-color: rgb(173, 48, 192);
    width: 50%;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 20px;
    gap: 33px;
    
    
    
}

 #user {
    
    margin-left: 10px;
    font-size: 40px;
}

.form {
    display: flex;
    justify-content: center;
    background-color: rgb(212, 159, 213);
    width: 50% auto;
    padding: 20px;
    margin: 10px auto;
    border-radius: 20px;
    height: 94%;
      
}

.section {
    display: grid;
    place-items: center;
    margin-bottom: 50px;
    margin: 90px auto;
    background-color: rgba(244, 196, 249, 0.86);
    width: 40%;
    border-radius: 20px;
    padding: 30px;
    
}

img {
    object-fit: cover;
    width: 70px;
    margin: 10px;
}

.my-input {
   
    width: 100%;
    margin: 7px 0;
    box-sizing: border-box;
    border-radius: 14px;
    display: inline-block;
    border: none;
    padding: 7px;
    cursor: pointer;
    outline: none;
    transition: transform .4s;
    
}

.my-input:hover{
    background-color: rgb(221, 234, 234);
    transform: scale(1.1); 
   
}
.my-input-2 {
    width: 100%;
    margin: 7px 0;
    box-sizing: border-box;
    border-radius: 14px;
    display: inline-block;
    border: none;
    padding: 7px;
    cursor: pointer;
    outline: none;
    transition: transform .4s;
    background-color: white;
    
}
.my-input-2:hover{
    background-color: rgb(121, 108, 122);
    transform: scale(1.1); 
    color: white;
   
}

/* media Query rensponsif */


/* mobile */
@media screen and (max-width: 767px) {

    body {
        background-size: 150%;
        font-size: 13px;
    }

    .section {
        width: 70%;
    }

    .logoo {
        width: 100%;
        gap: 9px;
    }
    img {
        object-fit: cover;
        width: 65px;
    }
.my-input {
    width: 100%;
    padding: 7px;
    font-size: 10px;
}
.my-input-2{
    width: 100%;
    padding: 7px;
    font-size: 10px;
}


 }
